@(productForm: Form[Product])
@import helper._
@main("Product form") {
    <h1>Product form</h1>
    @form(routes.Products.save()) {
        <fieldset>
            <legend>Product (@productForm.value.get.name)</legend>
            @inputText(productForm("name"), '_label -> "Name", 'placeholder -> "Product name")
            @inputText(productForm("ean"), '_label -> "EAN", 'placeholder -> "Product ean")
            @textarea(productForm("description"), '_label -> "Description")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Products.list()">Cancel</a>
    }
}