@(products: java.util.List[Product])
@main("Products catalogue") {
    <h2>All products</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @for(product <- products) {
        <tr>
            <td><a href="@routes.Products.details(product.getEan)">
            @product.getEan
            </a></td>
            <td><a href="@routes.Products.details(product.getEan)">
            @product.getName</a></td>
            <td><a href="@routes.Products.details(product.getEan)">
            @product.getDescription</a></td>
            <td>
                <a href="@routes.Products.details(product.getEan)">
                    <i class="icon icon-pencil"></i>details</a>
                <a onclick="del('@routes.Products.delete(product.getEan)')">
                    <i class="icon icon-trash"></i>delete</a>
            </td>
        </tr>
    }
        </tbody>
    </table>
    <a href="@routes.Products.newProduct()" class="btn">
        <i class="icon-plus"></i>New product</a>
}